@import "../../../Variables/Variables.module";
@import "../../../Animations/Animation.module";

.content {
  max-width: 1320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 70px;
}
.rotateLogo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid black;
  position: relative;
  &.pinkBorder {
    border-color: #9A74A5;
    svg {
      position: absolute;
      z-index: 5;
      left: 35%;
      font-size: 42px;
      top: 35%;
      transform: translate(-50%,-50%);
      animation: logoRotate 1s linear infinite;
    }
  }
  img {
    animation: rotateAnimation 8s linear infinite;
    width: 100%;
    height: 100%;
    filter: invert(1);
    object-fit: cover;
    object-position: center;
  }

}


.btn {
  width: 178px;
  padding: 15px 35px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  transition: $transition;
  text-align: center;

  &:hover {
    background-color: transparent;

    a {
      color: #000;
    }
  }

  a {
    color: #fff;
    white-space: nowrap;
  }
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .homeSection {
    width: 100%;
    display: flex;
    flex-direction: column;

    .homeContent {
      max-width: 1220px;
      width: 100%;
      background-color: #fffaf3;
      display: flex;
      flex-direction: column;
      padding: 200px 0 100px 230px;
      position: relative;
      .collectionThree {
        position: absolute;
        bottom: 225px;
        left: -30px;
        border-radius: 0 20px 20px 0;
        width: 155px;
        height: 155px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
        }

      }
      .bigImg {
        max-width: 530px;
        width: 100%;
        position: absolute;
        right: -350px;
        top: 150px;
        border-radius: 340px;
        border: 20px solid white;


        .imgBlock {
          width: 100%;
          position: relative;
          .rotateLogo {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 180px;
            height: 180px;
            overflow: hidden;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            border:5px solid black;

            img {
              animation: rotateAnimation 8s linear infinite;
              width: 100%;
              height: 100%;
              filter: invert(1);
              object-fit: cover;
              object-position: center;
            }

            h1{
              position: absolute;
              left: 38%;
              top: 43%;
              transform: translate(-50%,-50%);
              z-index: 3;
              font-size: 20px;
              animation: logoRotate 1s linear infinite,textGlow 1s linear infinite;
            }
          }

          .shuriken {
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -50px;
            top: 0;
            img {
              width: 100%;
              height: 100%;
              animation: rotateAnimation 10s linear infinite;
            }
          }
          img {
            width: 100%;
            border-radius: 340px;
          }
        }
      }

      .homeTitle {
        max-width: 860px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-bottom: 130px;
        position: relative;
        z-index: 3;
        .collection {
          position: absolute;
          top: -20px;
          left: -115px;
          width: 150px;
          height: 150px;
          overflow: hidden;
          border-radius: 50%;
          z-index: 1;
          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
        }

        h1 {
          font-size: 80px;
          margin-bottom: 24px;
          z-index: 3;

          span {
            color: #feeb9d;
            -webkit-text-stroke-color: #fbbb00;
            -webkit-text-stroke-width: 2px;
          }
        }

        p {
          font-family: "DM Sans", sans-serif;
          font-size: 25px;
          margin-bottom: 40px;
        }

        .btnsRow {
          width: 100%;
          display: flex;
          align-items: start;
          justify-content: start;
          gap: 30px;
          position: relative;
          .collectionTwo {
            position: absolute;
            width: 155px;
            height: 155px;
            right: 125px;
            top: -5px;
            border-radius: 0 0 100px 0;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .btn {
            &:nth-child(2) {
              background-color: transparent;

              &:hover {
                background-color: #000;
  
                a {
                  color: #fff;
                }
              }



              a {
                color: #000;
              }
            }
          }
        }
      }

      .cardsRow {
        max-width: 890px;
        width: 100%;
        display: flex;
        margin-top: 170px;

        .card {
          max-width: 340px;
          width: 100%;
          display: flex;

          .imgBlock {
            border: 1px solid #cc0d39;
            border-radius: 50%;
            background-color: #fff;
            padding: 20px;
            margin-right: 15px;
            position: relative;

            &::after {
              position: absolute;
              right:-2px;
              top: 10px;
              width: 25px;
              height: 25px;
              background-color: #cc0d39;
              color: white;
              content: "+";
              font-size: 20px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            img {
              width: 78px;
              height: 84px;
              object-fit: cover;
              object-position: center;
            }
          }

          .cardDesc {
            width: 154px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;

            a {
              font-size: 24px;
              font-weight: 300;
              margin-bottom: 8px;
            }

            p {
              font-size: 20px;
              color: #cc0d39;
              margin: 0;

              span {
                font-size: 16px;
                color: #999692;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
  }

  .firstSection {
    width: 100%;
    background-color: #feeb9d;
    display: flex;

    .firstContent {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 70px 0 40px;

      .imgSwiperWrapper {
        max-width: 1200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;

        .imgBlock {
          width: 390px;
          position: relative;
          .circle {
            width: 390px;
            height: 390px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: -60px;
            transform: translate(-60px, -50%);
            z-index: 1;
            background: #FFFAE4;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border: 1px solid transparent;
            border-radius: 5%;
            z-index: 2;
            position: relative;
          }
        }

        .swiperContainer {
          max-width: 850px;
          width: 100%;
          display: flex;
          flex-direction: column;
          .swiperBlock {
            display: flex;
            width: 100%;
            margin: 35px 0 25px 0;
            .sliderCard {
              display: flex;
              border-radius: 25% 25% 0 0;
              overflow: hidden;
              position: relative;
              max-width: 263px;
              width: 100%;
              .title {
                background-color: white;
                font-size: 16px;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                padding: 11px 22px;
                text-transform: uppercase;
                border-radius: 10px;
                white-space: nowrap;

              }
              img {
                height: 100%;
                width: 100%;
                object-position: center;
                object-fit: cover;

              }
            }

          }


          .headingRow {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
              font-size: 35px;
              margin-bottom: 8px;
            }

            .roundBtn {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.7);
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                font-size: 40px;
              }
            }
          }

          // SWIPER MUST BE HERE

          .controlsRow {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btns {
              width: 100%;
              display: flex;
              gap: 10px;
            }

            .numbers {
              width: 100%;
              display: flex;
              justify-content: end;
              gap: 20px;

              span {
                width: 40px;
                height: 40px;
                border: 1px solid transparent;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                &.active {
                  border-color: rgba(128, 128, 128, 0.5);
                  transform: scale(1.3);
                }

              }
            }
          }
        }
      }
    }
  }

  .secondSection {
    width: 100%;
    background-color: #fffaf3;
    display: flex;

    .secondContent {
      max-width: 1320px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 70px 0 40px;

      .headingRow {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;

        h3 {
          font-size: 35px;
          margin-bottom: 8px;
        }

        .filter {
          width: fit-content;
          display: flex;
          align-items: center;
          border: 1px solid #000;
          border-radius: 40px;
          padding: 6px;
          gap: 5px;
          .filterEntity {
            padding: 8px 23px;
            border-radius: 60px;
            transition: background-color $transition;
            &:hover {
              background-color: black;
              a {
                color: white;
              }

            }

            &.active {
              background-color: black;
              cursor: pointer;
              &:hover {
                background-color: #999692;
              }
              a {
                color: white;
              }
            }
            a {
              font-family: "DM Sans", sans-serif;
              font-weight: 400;
              font-size: 16px;
            }
          }
        }
      }

      .cardsWrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .card {
          max-width: 330px;
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 15px;

          .imgBlock {
            height: 400px;
            position: relative;
            overflow: hidden;
            &:hover {
              .quickView {
                bottom: 0;
              }
              img {
                height: 375px;
              }
            }
            .quickView {
              position: absolute;
              left: 50%;
              bottom: -50px;
              transition: bottom 0.3s ease-in-out, background $transition;
              text-transform: capitalize;
              transform: translateX(-50%);
              color: white;
              background: black;
              display: flex;
              align-items: center;
              justify-content: center;
              max-width: 150px;
              height: 50px;
              width: 100%;
              border-radius: 50px;
              border: 5px solid white;
              cursor: pointer;
              overflow: hidden;
              .effect {
                  transition: opacity $transition, width $transition;
                  opacity: 0;
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 0;
                  height: 100%;
                  border-right: 1px solid rgba(255, 255, 255, 0.9);
                  background-color: rgba(255, 255, 255, 0.3);
                }
              &:hover {
                background: #cc0d39;
                .effect {
                  opacity: 1;
                  width: 155px;
                }
              }
            }
            .getSale{
              display: flex;
              align-items: center;
              padding: 5px 15px;
              color: black;
              background-color: white;
              position: absolute;
              left: 20px;
              top: 20px;
              border-radius: 20px;
              font-size: 12px;
              text-transform: uppercase;
              font-weight: 600;
              pointer-events: none;

            }
            .buttonsColum {
              display: flex;
              flex-direction: column;
              gap: 10px;
              position: absolute;
              right: 20px;
              top: 15px;

              .button {
                cursor: pointer;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.3);
                color: white;
                font-size: 20px;
                position: relative;
                overflow: hidden;
                &:hover {
                  .effect {
                    width: 50px;
                    opacity: 1;
                  }
                }

                .effect {
                  transition: opacity $transition, width $transition;
                  opacity: 0;
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 0;
                  height: 100%;
                  border-right: 1px solid rgba(255, 255, 255, 0.9);
                  background-color: rgba(255, 255, 255, 0.3);
                }
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              border: 1px solid transparent;
              border-radius: 5%;
              transition: height 0.3s ease-in-out;
            }
          }

          .cardDesc {
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding: 20px 0;

            a {
              max-width: 220px;
              width: 100%;
              font-family: "DM Sans", sans-serif;
              font-size: 18px;
              font-weight: 700;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              transition: color $transition;
              &:hover {
                color: #cc0d39;
              }

            }

            span {
              font-size: 18px;
              font-weight: 700;

            }
          }
        }
      }
    }
  }

  .bannersContainer {
    width: 100%;
    display: flex;

    .imgBlock {
      width: 50%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .cloudBlock {
        max-width: 350px;
        width: 100%;
        display: flex;
        position: absolute;
        top: 110px;
        right: 40px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .outCloud {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .textBlock {
            width: 100%;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
              font-size: 40px;
              margin-bottom: 5px;
              span {
                font-size: 100px;

              }
            }

            .btn {
              background-color: transparent;

              a {
                color: #000;
              }
              &:hover {
                background-color: #000;

                a {
                  color: #fff;
                }
              }
            }

          }

        }
      }

      .textBlock {
        max-width: 840px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 120px;
        left: 70px;


        p {
          font-family: "DM Sans", sans-serif;
          font-weight: 900;
          margin-bottom: 16px;
        }

        h2 {
          font-size: 60px;
          font-weight: 600;
          margin-bottom: 30px;
        }
      }
    }


  }

  .thirdSection {
    width: 100%;
    background-color: #fffaf3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;

    .thirdContent {
      max-width: 1320px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 80px;
      padding: 100px 0 20px;

      .bigImg {
        max-width: 480px;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 50% 50% 0 0;
        }
      }
      .cardsContainer {
        max-width: 770px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .headingRow {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 15px;
          margin-bottom: 25px;

          h3 {
            max-width: 480px;
            width: 100%;
            font-size: 35px;
            margin-bottom: 8px;
          }

      }

        .cardsRow {
          width: 100%;
          display: flex;

          .card {
            max-width: 256px;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 15px;

            .imgBlock {
              width: 100%;
              height: 241px;
              position: relative;
              overflow: hidden;
              border-radius: 15px;
              &:hover {
                img {
                  transform: scale(1.1);

                }
              }

              img {
                transition: transform $transition;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
              }

            }

            .cardDesc {
              width: 100%;
              display: flex;
              gap: 5px;
              padding: 10px 0;

              .name {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;

                span {
                  font-family: "DM Sans", sans-serif;
                  font-size: 13px;
                  color: #cc0d39;
                  text-transform: capitalize;
                  font-weight: 700;
                }

                a {
                  font-size: 14px;
                  transition: $transition;

                  &:hover {
                    color: #cc0d39;
                  }

                }
              }

              .price {
                display: flex;
                h6 {
                  font-size: 16px;
                  gap: 12px;
                  display: flex;
                  flex-direction: column;

                  span {
                    display: block;
                    font-size: 12px;
                    text-decoration: line-through;
                    color: #5e626f;
                  }
                }
              }
            }
          }
        }
    }
  }
}}
